declarative-amsterdam-2020/data/air.20201006/resources/xsd/airports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:element name="airports" type="airportsForCountriesType"/>
    
    <xs:complexType name="airportsForCountriesType">
        <xs:sequence>
            <xs:element name="airportsForCountry" type="airportsForCountryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="airportsForCountryType">
        <xs:attribute name="country" type="xs:string" use="required"/>
        <xs:attribute name="href" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
